body {
    margin: 0;
    /*font-family: 'Dancing Script', cursive;*/
    font-family: 'Roboto', sans-serif;
    font-size: 14px;
    line-height: 1.6;
    color: #333;
}

*,
*:before,
*:after {
    box-sizing: border-box;
}

h1, h2, h3, h4, h5, h6 {
    margin: 0;
}


/* Container */
.container {
    width: 100%;
    max-width: 95%;
    margin: 0 auto;
    padding: 0 10px;
}

/* Header */
.header {
    background: url("../images/main/intro_bg.jpg") center
    no-repeat;
    -webkit-background-size: cover;
    background-size: cover;

    width: 100%;
    padding: 15px 0;

    top: 0;
    left: 0;
    right: 0;
    z-index: 1000;
}

.header-inner {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.header-logo {
    font-size: 34px;
    font-weight: 700;
    color: black;
}


.nav {
    list-style-type: none;
    margin: 0;
    padding: 0;
    font-size: 13px;
    text-transform: uppercase;
    color: black;
}

.nav li {
    display: inline;
}

.nav-link {
    display: inline-block;
    vertical-align: top;
    margin: 0 20px;
    position: relative;

    color: black;
    text-decoration: none;

    transition: color 0.2s linear;
}

.nav-link:after {
    content: "";
    display: block;
    width: 100%;
    height: 3px;

    background-color: #75bbf4;
    opacity: 0;

    position: absolute;
    top: 100%;
    left: 0;
    z-index: 1;

    transition: opacity 0.2s linear;
}

.nav-link:hover {
    color: #75bbf4;
}

.nav-link:hover:after {
    display: block;
    opacity: 1;
}

.main-block {
    display: flex;
    justify-content: space-around;
    margin: 20px 0;
}

/* Info */

.info {
    display: flex;
    flex-direction: row;
    margin: 20px auto;
    max-width: 70%;
}

.info-inner h1, b {
    text-transform: uppercase;
    font-size: 18px;
    font-weight: 700;
}

.info-text {
    font-size: 15px;
    font-weight: 400;
    padding-bottom: 10px;
}


.footer {
    position: absolute;
    margin: 0;
    display: flex;
    flex-direction: column;
    justify-content: center;
    padding-top: 55px;
    width: 100%;
    background: #90c8f5;
}

.footer-inner {
    margin: 0 20px;
    display: flex;
    justify-content: space-around;
    vertical-align: center;
}

.footer-col-title {
    font-weight: 700;
    font-size: 16px;
    text-transform: uppercase;
}

.footer-nav {
    line-height: 2;
    font-size: 14px;
    font-weight: 300;
    color: black;
}

.footer-nav-link {

    vertical-align: top;
    margin: 10px 0;

    color: black;
    text-decoration: none;

    transition: color 0.2s linear;
}

.footer-nav-link:after {
    content: "";
    display: block;
    background-color: grey;
}

.footer-nav-link:hover {
    color: grey;
}

/* Copyright */

.copyright {
    margin: 10px auto;
    color: black;
    font-size: 13px;
    font-weight: 300;
    text-align: center;
    padding: 10px 0;

    border-top: 1px solid #b3dcfc;

}

.copyright span {
    color: #ff5353;
}

@media (min-width:  1200px) {

    .footer {
        position: fixed;
        left: 0;
        bottom: 0;
    }
}

/* Phones */

@media (max-width:  480px) {


    /* Info */

    .info {
        display: flex;
        flex-direction: row;
        margin: 15px auto;
        max-width: 90%;
    }


    /* Footer */

    .footer {
        margin: 30px 0 0 0;
        display: flex;
        flex-direction: column;
        justify-content: center;
        padding-top: 35px;
        width: 100%;
        background: #90c8f5;
    }

    .footer-inner {
        margin: 0 10px;
        display: flex;
        justify-content: space-around;
        vertical-align: center;
    }

    .footer-col {
        margin: 0 5px;
    }

    .footer-col-title {
        font-weight: 700;
        font-size: 14px;
        text-transform: uppercase;
    }

    .footer-nav {
        line-height: 2;
        font-size: 12px;
        font-weight: 300;
        color: black;
    }

    .footer-nav-link {

        vertical-align: top;
        margin: 5px 0;

        color: black;
        text-decoration: none;

        transition: color 0.2s linear;
    }

}